<div class="container text-center mt-5p">
    <h1 class="display-4 justify-content-center">ServiFacil</h1>
    <div class=" row justify-content-center mt-10p ">
        <div class="col ">
            <p-card header="Peluqueria" subheader="Subheader " [style]="{width: '360px'} " styleClass="ui-card-shadow ">
                <p-header>
                    <img src="Card " src="assets/img/peluqueria.jpg ">
                </p-header>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
                <p-footer>
                    <button pButton type="button" label="Consultar Servicios " icon="pi pi-check " style="margin-right: .25em "></button>
                </p-footer>
            </p-card>
        </div>
        <div class="col ">
            <p-card header="Mecanica 'Don Maño'" subheader="Subheader " [style]="{width: '360px'} " styleClass="ui-card-shadow ">
                <p-header>
                    <img src="Card " src="assets/img/mecanica.jpg ">
                </p-header>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
                <p-footer>
                    <button pButton type="button " label="Consultar Servicios" icon="pi pi-check " style="margin-right: .25em "></button>
                </p-footer>
            </p-card>
        </div>
    </div>

</div>