<div class="container" [ngStyle]="{'margin-top': '10%'}">

    <div *ngIf="status">
        <h1>SE HA REGISTRADO SATISFACTORIAMENTE POR FAVOR INICIE SESSION</h1>
    </div>

    <div class="row justify-content-center border border-dark">

        <div class="col-md-6 align-self-center">
            <img class="img-fluid w-100 h-100" src="../../../assets/img/LogoIPCA.jpg" alt="Logo">
        </div>

        <div class="col-md-6  ">

            <h1 class="text-center display-4">Iniciar Sesión</h1>

            <form ngForm="form" class="my-5">

                <div class="form-row justify-content-center">

                    <div class="form-group col-12">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <i class="pi pi-user" style="line-height: 1.25;"></i>
                            </span>
                            <input class="w-100" type="text" pInputText placeholder="Username" name="username">
                        </div>

                    </div>

                    <div class="form-group col-12">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <i class="pi pi-key" style="line-height: 1.25;"></i>
                            </span>
                            <input class="w-100" type="password" pInputText placeholder="Contraseña" name="password">
                        </div>

                    </div>


                    <div class="col-12">
                        <button class="btn btn-primary btn-block">Ingresar</button>
                    </div>

                    <div class="col-md-4 text-center">
                        <a routerLink="/registrar">Registrate</a>
                    </div>

                </div>


            </form>


        </div>

    </div>


</div>